@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import "tailwindcss";

@theme{
  --color-primario: #639f25;
  --color-oscuro: #67a623;
  --color-claro: #70b620;
  --color-superclaro: #b4eabb;
  --color-gradiente: linear-gradient(135deg, var(--color-oscuro), var(--color-primario));
  --blanco: #ffffff;
  --gris-claro: #ececec;
  --gris: #808080;
  --gris-medio: #747777;
  --gris-oscuro: #757575;
  --color-texto-oscuro: #666666;
  --color-texto-claro: #808080;
  --sombra: rgba(0, 0, 0, 0.15);
  --error-color: #d32f2f;
  --error-claro: #ffebee;
  --aceptacion-color: #2e7d32;
  --aceptacion-claro: #e8f5e9;
  --advertencia-color: #f57c00;
  --advertencia-claro: #fff3e0;
  --info-color: #1976d2;
  --info-claro: #e3f2fd;
  --font-family: "Open sans",Ariel,Helvetica,Lucida,sans-serif;
}
